* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 23px;
}
body {
    background: #f6f6f6;
    font-family: "EB Garamond", "Helvetica Neue", "Segoe UI", sans-serif;}

.header{
    text-align: center;
    font-size: 35px;
}
.header1{
    font-size: 30px;
}
a {
    color: #ff3300;
    text-decoration: none;
    letter-spacing: 2px;
}
    a:hover {
        color: #000;
    }

.main{
   display: block;
} 
      img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 250px;
      } 
      .main h3{
       
      }

       .slogan {
        text-align: center;
        margin: 0 0 60px 0;
        font-style: italic;
        }

  /* Project CSS */
  .mainP{
    padding: 20px 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mainP .main1{
    margin: 20px 30px;
  }



.footer{
    margin: 30px 0;
    text-align: center;
    background-color: #9999;
}
   .footer a {
    color: #666;
    }
    .footer a:hover {
    color: #ff3300;
    }

